<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529026295496-f6g8mb13js76u7bv4elno221683belfl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529026295496-f6g8mb13js76u7bv4elno221683belfl</string>
	<key>API_KEY</key>
	<string>AIzaSyAKpr2j8r31-1asEmZ4MrhNqmdsuy2ffCE</string>
	<key>GCM_SENDER_ID</key>
	<string>529026295496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vjiki</string>
	<key>PROJECT_ID</key>
	<string>music-bird-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>music-bird-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529026295496:ios:d018529f6894e3b1c567fd</string>
</dict>
</plist>